<div class="container header-section">
    <div class="row">
        <div class="col-md-3 header-col-left">
            <img title="header-img" class="header-img" src="../assets/maverik.png" routerLink="/home"/>
        </div>
        <div class="col-md-6 header-center">
            <h2 class="header-title"> Uniform Ordering System</h2>
        </div>
        <div class="col-md-3 header-col-right">
            <div class="pull-right">
                <!-- TODO -- Have "Tester" be dynamic -->
                <h2 class="">Welcome, Tester!</h2>
                <div class="div-center"> 
                    <!-- (click)="logout()" -->
                    <a  class="btn btn-logout btn-danger">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</div>