<div class="container header-section">
    <div class="row">
        <div class="col header-col-left">
            <img title="header-img" class="header-img" src="../assets/maverik.png" routerLink="/home"/>
        </div>
        <div class="col header-center">
            <h3 class="header-title" style="margin-top: 20px;"> Uniform Ordering System</h3>
        </div>
        <div class="col header-col-right">
            <div class="pull-right" style="margin-top: 20px;">
                <!-- TODO -- Have "Tester" be dynamic -->
                <h1 style="font-weight: 300; font-size: larger;">Welcome, Tester!</h1>
                <div class="div-center"> 
                    <!-- (click)="logout()" -->
                    <a  class="btn btn-logout btn-danger">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</div>