<div class="container">
    <div class="card card-default border-dark mb-3"> 
        <div class="card-header text-white row" style="background-color: #495057; margin-left: 0; margin-right: 0;">
                <div class="text-start col"> 
                    <h5>Order Options</h5>
                </div>
                <div class="text-end col">
                    <a class="btn btn-sm btn-primary">View orders awaiting approval</a>
                </div>
        </div>
        <div class="card-body text-center" style="background-color: #dee2e6;">
            <div class="row row-wrapper">
                <div class="col">
                    <a class="btn btn-mav btn-success" style="background-color: #5cb85c;" routerLink="/create-order">
                        <fa-icon [icon]="faShoppingCart"></fa-icon><br>
                        Create an Order
                        <div class="inner">
                            <small>Create a new uniform order</small>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-mav btn-success" style="background-color: #5cb85c;" onclick="requestOrderNumber()">
                    <i class="glyphicon glyphicon-search"></i><br>
                        View an Order
                        <div class="inner">
                            <small>View an order by entering in its order ID</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>