<div class="container">
    <div class="panel panel-default"> 
        <div class="panel-heading">
                Order Options
            <div class="pull-right" style="margin-top: -3px;">
                <a  class="btn btn-sm btn-primary">View orders awaiting approval</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row row-wrapper">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-mav btn-success" routerLink="/create-order">
                    <i class="glyphicon glyphicon-shopping-cart"></i><br>
                        Create an Order
                        <div class="inner">
                            Create a new uniform order
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-mav btn-success" onclick="requestOrderNumber()">
                    <i class="glyphicon glyphicon-search"></i><br>
                        View an Order
                        <div class="inner">
                            View an order by entering in its order ID
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>