<div class="header-image"><img src="../assets/specialty_transparent.png" /></div>
<div class="container" role="main">
  <div class="card card-container">
    <img class="profile-image" src="../assets/maverik.png" />
    <form class="form-signin">
      <input type="text" class="form-control" placeholder="username" formControlName="username"/>
      <input type="text" class="form-control" placeholder="password" formControlName="password" />
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()">Sign in</button>
    </form>
  </div>
</div>