<div id="reportSection" class="container">
    <div class="card card-default border-dark mb-3">
        <div class="card-header text-white" style="background-color: #495057;">
            <h5> Admin Tools </h5>
        </div>
        <div class="card-body" style="background-color: #dee2e6;">
            <div class="row">
                    <div class="col">
                        <a class="btn btn-mav btn-info" >
                            Receive
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-mav btn-info">
                            Adjust
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-mav btn-primary">
                            Ship Order
                        </a>
                    </div>
            </div>
            <div class="">
                <div class="row">
                        <div class="col">
                            <a class="btn btn-mav  btn-default" style="color: black; background-color: white;">
                                Skus
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-mav  btn-default" style="color: black; background-color: white;">
                                Kits
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-mav  btn-default" style="color: black; background-color: white;">
                                Categories
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-mav  btn-default" style="color: black; background-color: white;">
                                Sizes
                            </a>
                        </div>
                </div>
                <div class="row">
                        <div class="col">
                            <a class="btn btn-mav  btn-default" style="color: black; background-color: white;">
                                Employees
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-mav btn-default" style="color: black; background-color: white;">
                                Stores
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-mav btn-default" style="color: black; background-color: white;">
                                Districts
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-mav btn-default" style="color: black; background-color: white;">
                                Regions
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>