<div id="reportSection" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Admin Tools</div>
        <div class="panel-body">
            <div class="row">
                <div class="row-wrapper">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a class="btn btn-mav btn-info" href="index.cfm?fuse=receive">
                            Receive
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a class="btn btn-mav btn-info" href="index.cfm?fuse=adjust">
                            Adjust
                        </a>
                    </div>
                    <div class="col-md-offset-3 col-md-3 col-sm-3 col-xs-6">
                        <a class="btn btn-mav btn-primary" href="index.cfm?fuse=ship">
                            Ship Order
                        </a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <div class="row-wrapper">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=inventory_admin">
                                Skus
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=kit_admin">
                                Kits
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=category_admin">
                                Categories
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=size_admin">
                                Sizes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row-wrapper">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=employee_admin">
                                Employees
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=store_admin">
                                Stores
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=district_admin">
                                Districts
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a class="btn btn-mav blackText btn-default" href="index.cfm?fuse=region_admin">
                                Regions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>