
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.btn-mav {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,.75);
    border: solid #333 1px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.btn-mav:hover{
    filter: brightness(88%);
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,.75);
    border: solid #333 1px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.btn-logout{
    width: 100%;
    font-weight: 700;
    color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,.75);
    border: solid #333 1px;
}